* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  line-height: normal;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  background-color: #fff;
}
a,
a:hover {
  color: #000000 !important;
  text-decoration: none;
  outline: none;
  border: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main {
  overflow: hidden;
}
input,
button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  margin: 0px;
}
input:hover,
button:hover {
  margin: 0px;
  border: 0;
  outline: none;
}
input:focus,
button:focus {
  margin: 0px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
  outline: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1700px;
  padding: 0px;
}
@media (max-width: 1350px) {
  .container {
    max-width: 1350px;
    padding: 0 5px 0 5px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 768px;
    padding: 0 8px 0 8px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }
}
.navbar {
  border-bottom: 1px solid #E4E4E4;
}
@media (max-width: 767px) {
  .navbar {
    z-index: 10;
    position: absolute;
    border-bottom: NONE;
    top: 0;
    right: 0;
    left: 0;
  }
}
.navbar-collapse {
  background-color: #fff;
  z-index: 20;
}
.logo-img {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}
@media (max-width: 992px) {
  .logo-img {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .logo-img {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@media (max-width: 425px) {
  .logo-img {
    width: 135px;
  }
}
.nav-top {
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E4E4E4;
}
@media (max-width: 767px) {
  .nav-top {
    width: auto;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.nav-mobile__item a img {
  margin-right: 50px;
}
@media (max-width: 425px) {
  .nav-mobile__item a img {
    margin-right: 0px;
  }
}
@media (max-width: 992px) {
  .nav-top--block {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .nav-top--block {
    text-align: center;
  }
}
.nav-top__call {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #969693;
}
.nav-top__btn {
  background: #E7383E;
  border: 1px solid  #E7383E;
  padding: 20px 25px !important;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-top__btn:hover {
  border: 1px solid  #ff0000;
  background: #ffffff;
  color: #E7383E;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-top__btn:focus {
  border: 1px solid  #ff0000;
  background: #ffffff;
  color: #E7383E;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-link {
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 22px !important;
}
.navbar-toggler-icon {
  background: none !important;
}
.stock__number {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #E7383E;
  width: 280px;
  margin-bottom: 40px;
}
@media (max-width: 1670px) {
  .stock__number {
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .stock__number {
    width: auto;
  }
}
@media (max-width: 767px) {
  .stock__number {
    width: 280px;
  }
}
.stock-free {
  width: 280px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 60px;
}
.stock-free::after {
  content: '\2732';
  position: absolute;
  top: -5px;
  left: -10px;
  font-size: 12px;
}
@media (max-width: 1670px) {
  .stock-free {
    margin-bottom: 40px;
  }
}
@media (max-width: 1670px) {
  .stock-free {
    font-size: 16px;
    line-height: 20px;
    width: 285px;
  }
}
@media (max-width: 992px) {
  .stock-free {
    width: 380px;
  }
}
@media (max-width: 767px) {
  .stock-free {
    width: 285px;
  }
}
.header .slick-active img {
  -webkit-animation-name: g;
          animation-name: g;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@media (max-width: 992px) {
  .header .slick-active img {
    width: 650px;
  }
}
@media (max-width: 767px) {
  .header .slick-active img {
    width: 510px;
  }
}
@media (max-width: 576px) {
  .header .slick-active img {
    width: auto;
  }
}
@-webkit-keyframes g {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.0625);
            transform: scale(1.0625);
  }
  50% {
    -webkit-transform: scale(1.125);
            transform: scale(1.125);
  }
  75% {
    -webkit-transform: scale(1.1875);
            transform: scale(1.1875);
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}
@keyframes g {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.0625);
            transform: scale(1.0625);
  }
  50% {
    -webkit-transform: scale(1.125);
            transform: scale(1.125);
  }
  75% {
    -webkit-transform: scale(1.1875);
            transform: scale(1.1875);
  }
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}
.slider-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 190px;
}
@media (max-width: 1670px) {
  .slider-wrapper {
    max-width: 1200px;
  }
}
@media (max-width: 1210px) {
  .slider-wrapper {
    max-width: 980px;
  }
}
@media (max-width: 992px) {
  .slider-wrapper {
    max-width: 700px;
    position: inherit;
  }
}
@media (max-width: 767px) {
  .slider-wrapper {
    max-width: 560px;
    padding-top: 120px;
  }
}
.slide {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}
@media (max-width: 992px) {
  .slide {
    padding-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 576px) {
  .slide {
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  .subblock__item--scale {
    margin-bottom: 25px;
  }
}
.stock {
  padding-left: 10px;
  padding-bottom: 20px;
}
@media (max-width: 1400px) {
  .stock {
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .stock {
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .stock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.slider-top {
  position: absolute;
  top: 40px;
  left: -110px;
  background-color: #FFFFFF;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  max-width: 726px;
  width: 100%;
}
@media (max-width: 1670px) {
  .slider-top {
    width: 600px;
    left: -90px;
    top: 15px;
  }
}
@media (max-width: 1400px) {
  .slider-top {
    width: 450px;
    left: 0px;
    top: 80px;
  }
}
@media (max-width: 1210px) {
  .slider-top {
    width: 355px;
    top: 10px;
  }
}
@media (max-width: 992px) {
  .slider-top {
    width: 575px;
    max-width: 575px;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: inherit;
  }
}
@media (max-width: 767px) {
  .slider-top {
    width: 330px;
    max-width: 330px;
  }
}
@media (max-width: 767px) {
  .slider-top {
    width: 310px;
    max-width: 310px;
  }
}
.acuvue {
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  color: #0073BB;
  padding: 40px 60px;
}
.acuvue span {
  font-weight: bold;
}
@media (max-width: 1670px) {
  .acuvue {
    font-size: 40px;
    line-height: 50px;
    padding: 30px 40px;
  }
}
@media (max-width: 1400px) {
  .acuvue {
    font-size: 30px;
    line-height: 37px;
    padding: 25px 25px;
  }
}
@media (max-width: 1210px) {
  .acuvue {
    padding: 10px 20px;
  }
}
@media (max-width: 992px) {
  .acuvue {
    margin-bottom: 30px;
    padding: 0px;
  }
}
.slider-fade .slick-arrow {
  position: absolute;
  bottom: 40px;
  z-index: 10;
  cursor: pointer;
  width: 52px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1400px) {
  .slider-fade .slick-arrow {
    background-position: inherit;
  }
}
.slider-fade .slick-prev {
  left: -100px;
  background-image: url(../img/header/arrow-left.png);
  background-color: #fff;
  font-size: 0;
}
@media (max-width: 1670px) {
  .slider-fade .slick-prev {
    left: -70px;
  }
}
@media (max-width: 1400px) {
  .slider-fade .slick-prev {
    bottom: -25px;
    left: 25px;
    padding: 0px;
  }
}
@media (max-width: 992px) {
  .slider-fade .slick-prev {
    bottom: 41px;
    left: 323px;
  }
}
@media (max-width: 767px) {
  .slider-fade .slick-prev {
    display: none !important;
  }
}
.slider-fade .slick-next {
  right: -100px;
  background-image: url(../img/header/arrow-right.png);
  background-color: #fff;
  font-size: 0;
}
@media (max-width: 1670px) {
  .slider-fade .slick-next {
    right: -70px;
  }
}
@media (max-width: 1400px) {
  .slider-fade .slick-next {
    bottom: -25px;
    right: 1000px;
    padding: 0px;
  }
}
@media (max-width: 1210px) {
  .slider-fade .slick-next {
    right: 765px;
  }
}
@media (max-width: 992px) {
  .slider-fade .slick-next {
    bottom: 41px;
    right: 135px;
  }
}
@media (max-width: 767px) {
  .slider-fade .slick-next {
    display: none !important;
  }
}
.slick-dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slick-dots li {
  margin-right: 20px;
}
.slick-dots li:last-child {
  margin-right: 0px;
}
.slick-dots li button {
  line-height: 0;
  height: 16px;
  width: 16px;
  color: transparent;
  background: #C4C4C4;
  padding: 0;
  border-radius: 50%;
}
.slick-dots .slick-active button {
  background: #E7383E;
}
/* modal */
.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}
@media (max-width: 576px) {
  .modal-dialog {
    max-width: 310px;
  }
}
.modal-content {
  border: none;
  border-radius: 0rem;
  padding: 40px 50px 70px 50px;
}
@media (max-width: 576px) {
  .modal-content {
    padding: 40px 20px;
  }
}
.close {
  margin: -20px -25px -40px auto !important;
  float: right;
  color: #000;
  text-shadow: 0 0 0 #fff;
  opacity: .5;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #B4B4B4;
}
.modal-header {
  border: none;
}
.title-modal {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #ED5B65;
}
@media (max-width: 576px) {
  .title-modal {
    font-size: 24px;
    line-height: 29px;
  }
}
.label-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-size: 12px;
}
.real-radio {
  display: none;
}
.custom-radio {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  vertical-align: middle;
  background: #f8989e;
  cursor: pointer;
}
.custom-radio img {
  right: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-27%, 35%);
          transform: translate(-27%, 35%);
}
.custom-radio--text {
  width: 190px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.label-radio input:checked + .custom-radio {
  background: #ED5B65;
}
.style-input {
  border: 1px solid #C8C8C8;
  width: 375px;
}
@media (max-width: 576px) {
  .style-input {
    width: 270px;
  }
}
.style-input:hover {
  border: 1px solid #C8C8C8;
}
.style-input:focus {
  border: 1px solid #C8C8C8;
}
.btn-primary {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 18px 55px;
  border: none;
  background: #E7383E;
}
.btn-primary:focus {
  color: #fff;
  background: #ED5B65;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.btn-primary:hover {
  color: #fff;
  background: #ED5B65;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-primary:active {
  color: #fff;
  background: #ED5B65;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background: #ED5B65;
  border: none;
}
.btn {
  border-radius: 0%;
}
.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  border: none;
}
.modal-thanks {
  z-index: 20;
  background: #FFFFFF;
  position: fixed;
  width: 450px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  -webkit-box-shadow: -3px -6px 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: -3px -6px 20px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .modal-thanks {
    width: 310px;
  }
}
.modal-thanks__pink {
  right: 0;
  bottom: 0;
  height: 60px;
  width: 240px;
}
.modal-thanks__content {
  padding: 120px 0 0 0;
}
@media (max-width: 576px) {
  .modal-thanks__content {
    padding: 70px 0 0 0;
  }
}
.thanks__content--text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 180px;
}
@media (max-width: 576px) {
  .thanks__content--text {
    margin-bottom: 160px;
  }
}
@media (max-width: 1430px) {
  .find-us {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .find-us {
    overflow: inherit;
  }
}
.find-us .slick-slide {
  padding: 0 45px;
}
@media (max-width: 768px) {
  .find-us .slick-slide {
    padding: 0 15px;
  }
}
.find-us .slick-dots {
  padding-top: 50px;
}
.find-us .slider-right--item {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.find-us .container {
  max-width: 100%;
  margin-bottom: 220px;
  position: relative;
}
@media (max-width: 1600px) {
  .find-us .container {
    margin-bottom: 180px;
  }
}
@media (max-width: 1200px) {
  .find-us .container {
    margin-bottom: 130px;
  }
}
@media (max-width: 992px) {
  .find-us .container {
    margin-bottom: 90px;
  }
}
@media (max-width: 767px) {
  .find-us .container {
    margin-bottom: 70px;
  }
}
.find-us .slider-center {
  padding: 0 117px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 300px;
  position: absolute;
  top: 0;
  z-index: 134;
  background-color: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1630px) {
  .find-us .slider-center {
    padding: 0 55px 25px;
    left: 297px;
  }
}
@media (max-width: 1430px) {
  .find-us .slider-center {
    padding: 0 0px 60px;
    left: 325px;
  }
}
@media (max-width: 1199px) {
  .find-us .slider-center {
    padding: 0 0px 60px;
    left: 325px;
  }
}
@media (max-width: 767px) {
  .find-us .slider-center {
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: initial;
  }
}
.title-find-us {
  margin-bottom: 46px;
  font-size: 72px;
  line-height: 88px;
  text-align: right;
  width: 340px;
}
@media (max-width: 1630px) {
  .title-find-us {
    margin-bottom: 23px;
    font-size: 60px;
    line-height: 76px;
    width: 285px;
  }
}
@media (max-width: 1430px) {
  .title-find-us {
    margin-bottom: 23px;
    font-size: 45px;
    line-height: 50px;
    width: 210px;
  }
}
@media (max-width: 767px) {
  .title-find-us {
    text-align: start;
  }
}
.subtitle-find-us {
  margin-bottom: 60px;
  width: 340px;
  font-size: 36px;
  line-height: 44px;
  text-align: right;
}
@media (max-width: 1630px) {
  .subtitle-find-us {
    margin-bottom: 30px;
    width: 280px;
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 1430px) {
  .subtitle-find-us {
    margin-bottom: 40px;
    width: 330px;
  }
}
@media (max-width: 767px) {
  .subtitle-find-us {
    text-align: start;
    width: 280px;
  }
}
.text-bottom-find-us {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}
@media (max-width: 1630px) {
  .text-bottom-find-us {
    margin-bottom: 18px;
  }
}
@media (max-width: 767px) {
  .text-bottom-find-us {
    text-align: start;
  }
}
.find-us .main-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 767px) {
  .find-us .main-arrows {
    display: none;
  }
}
.arrow-next,
.arrow-prev {
  cursor: pointer;
}
.slide-count-main {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  width: 30px;
  margin: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-right--item img {
  -webkit-animation: none !important;
          animation: none !important;
}
.slide-bottom {
  width: 100%;
  margin-top: 40px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.town {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}
@media (max-width: 1630px) {
  .town {
    font-size: 24px;
    line-height: 29px;
  }
}
.street {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 1630px) {
  .street {
    font-size: 18px;
    line-height: 22px;
  }
}
.opticss {
  margin-bottom: 275px;
}
.opticss__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
.opticss__text--element__befor::before {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  background: #252525;
  height: 6px;
  width: 6px;
  position: absolute;
  content: '';
  display: block;
  border-radius: 50%;
  left: 144px;
}
.opticss__text > span {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.opticss__card-text--top {
  max-width: 412px;
}
.opticss__ul {
  padding-left: 15px;
  margin: 0;
}
.opticss__ul > li {
  max-width: 412px;
  margin-bottom: 10px;
}
.opticss__row {
  padding-left: 140px;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.opticss__card--first {
  margin-right: 95px;
}
.opticss__card--last-text {
  max-width: 412px;
}
.opticss__card-title {
  position: relative;
  max-width: 280px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 55px;
}
.opticss__img-box--top {
  position: relative;
}
.opticss__card--last-img {
  position: absolute;
  left: -150px;
  top: -5px;
}
.opticss__card--last {
  background-color: #fff;
  position: absolute;
  padding: 90px 40px 0 150px;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(52%, 21%);
          transform: translate(52%, 21%);
}
.opticss__card--last-text:last-child {
  margin-bottom: 0;
}
.opticss__card--last-text {
  margin: 0;
  margin-bottom: 55px;
}
.opticss__img-box {
  position: relative;
  padding-top: 25px;
}
.opticss__img--mini {
  display: none;
}
.opticss__img-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -25px;
  background-color: #E7383E;
  width: 55%;
  height: 25px;
}
.opticss__img-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: -25px;
  background-color: #E7383E;
  width: 25px;
  height: 60%;
}
.opticss__img {
  margin-bottom: 50px;
}
@media (max-width: 1650px) {
  /* other */
  .section__title {
    font-size: 50px;
  }
  /* opticss */
  .opticss__card--last {
    -webkit-transform: translate(45%, 21%);
            transform: translate(45%, 21%);
    padding: 20px 20px 0 70px;
  }
  .opticss__card-title {
    font-size: 30px;
  }
}
@media (max-width: 1550px) {
  /* opticss */
  .opticss__card--last-img {
    width: 22%;
    left: -20px;
  }
  .opticss__card--last {
    padding: 20px 20px 0 20px;
  }
  .opticss__card--last {
    -webkit-transform: translate(12%, 35%);
            transform: translate(12%, 35%);
  }
  .opticss__img-box {
    width: 80%;
  }
  .opticss__img-box::before {
    top: 0;
    left: -15px;
    width: 55%;
    height: 15px;
  }
  .opticss__img-box::after {
    top: 0;
    left: -15px;
    width: 15px;
    height: 60%;
  }
  .opticss__img-box {
    padding-top: 15px;
  }
  .opticss__card--first {
    margin-right: 60px;
  }
}
@media (max-width: 1350px) {
  /* opticss */
  .opticss__row {
    padding-left: 80px;
  }
  .opticss__card--last-img {
    display: none;
  }
  .opticss__card--last {
    padding: 20px 0px 0 20px;
    -webkit-transform: translate(-16%, 38%);
            transform: translate(-16%, 38%);
  }
  .opticss__text--element__befor::before {
    left: 85px;
  }
  .opticss__card--first {
    margin-right: 30px;
  }
  .opticss__img-box {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  /* opticss */
  .opticss {
    margin-bottom: 200px;
  }
  .opticss__text--element__befor::before {
    -webkit-transform: translate(-10px, 14px);
            transform: translate(-10px, 14px);
    position: static;
  }
  .opticss__card--last-text {
    max-width: 370px;
  }
  .opticss__card--last {
    padding: 10px 10px 0 10px;
    -webkit-transform: translate(0%, 49%);
            transform: translate(0%, 49%);
  }
  .opticss__img-box {
    width: 388px;
  }
  .opticss__row {
    padding-left: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .opticss__card-title {
    margin-bottom: 35px;
  }
  .opticss__card--last-text {
    margin-bottom: 35px;
  }
}
@media (max-width: 992px) {
  /* opticss */
  .opticss__img-box::before {
    top: 0;
    left: -10px;
    width: 55%;
    height: 10px;
  }
  .opticss__img-box::after {
    top: 0;
    left: -10px;
    width: 10px;
    height: 60%;
  }
  .opticss__img-box {
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  /* opticss */
  .opticss {
    margin-bottom: 150px;
  }
  .opticss__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .opticss__card--first {
    margin-right: 0;
  }
  .opticss__card--last {
    padding: 0;
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .opticss__img--mini {
    display: block;
  }
  .opticss__img--big {
    display: none;
  }
  .opticss__img-box {
    width: auto;
  }
  .opticss {
    margin-bottom: 35px;
    padding: 50px 15px 0 15px;
  }
  .opticss__text {
    font-size: 16px;
  }
  .opticss__img-box {
    margin-bottom: 35px;
  }
  .opticss__ul {
    margin-bottom: 50px;
  }
  .opticss__img {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .opticss {
    margin-bottom: 60px;
  }
}
.section__title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 88px;
}
.advantages {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 280px;
}
.advantages__container {
  margin-bottom: 220px;
}
.advantages__row {
  padding: 0 20px;
  /* flex-wrap: wrap; */
}
.advantages__card:not(.advantages__card--last) {
  position: relative;
  margin-right: 10px;
  padding-right: 40px;
}
.advantages__card:not(.advantages__card--last)::after {
  content: '';
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #000000;
  width: 1.5px;
  height: 110px;
}
.advantages__img--bott {
  display: none;
}
.advantages__number {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 88px;
  color: #EEEEEE;
}
.advantages__description {
  margin: 0;
  max-width: 260px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.advantages__main {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  padding-right: 20px;
}
.advantages__img {
  margin-right: 200px;
  display: block;
  position: relative;
  margin-bottom: 25px;
}
.advantages__img::before {
  content: '';
  position: absolute;
  top: -25px;
  right: -25px;
  background-color: #E7383E;
  width: 40%;
  height: 25px;
}
.advantages__img::after {
  content: '';
  position: absolute;
  top: 0;
  right: -25px;
  background-color: #E7383E;
  width: 25px;
  height: 65%;
}
.diagnostics__title {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 90px;
  max-width: 530px;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
}
.diagnostics__description {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 90px;
  max-width: 440px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
.diagnostics__button {
  color: #E7383E;
  border: 1px solid #E7383E;
  padding: 20px 20px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.diagnostics__button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
  background-color: #E7383E;
  border: 1px solid#E7383E;
}
.diagnostics__button:focus {
  background: #ffffff;
  color: #E7383E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #E7383E;
}
.advantages__img--bot {
  margin-left: 60px;
}
.glasses {
  padding-left: 20px;
  margin-bottom: 200px;
}
.advantages__main--glasses {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0;
}
.advantages__img--glasses {
  margin-right: 0;
  margin-left: 180px;
}
.advantages__img--glasses > .advantages__img--bot {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-15%, 130%);
          transform: translate(-15%, 130%);
}
.advantages__img--glasses::before {
  top: -25px;
  left: -25px;
}
.advantages__img--glasses::after {
  top: 0;
  left: -25px;
}
.diagnostics__description--glasses {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
}
.diagnostics__description--glasses::before {
  content: '';
  position: absolute;
  width: 38px;
  height: 1px;
  background-color: #000000;
  top: 50%;
  left: -50px;
}
.diagnostics__description--down {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
  border-left: 1px solid #E7383E;
  margin-left: 20px;
}
.diagnostics__description--glasses-box {
  margin-bottom: 60px;
  margin-left: 50px;
}
.diagnostics__description--glasses-top {
  margin-bottom: 50px;
}
.diagnostics__title--lenses {
  margin-bottom: 30px;
}
.diagnostics__description--lenses {
  margin-bottom: 60px;
}
.lenses {
  margin-bottom: 200px;
}
@media (max-width: 1650px) {
  /* other */
  .section__title {
    font-size: 50px;
  }
  /* advantages */
  .advantages__description {
    font-size: 17px;
    max-width: 180px;
  }
  .advantages__card:not(.advantages__card--last) {
    position: relative;
    padding-right: 20px;
  }
  .advantages__number {
    font-size: 50px;
  }
  .advantages__row {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 1350px) {
  /* advantages */
  .advantages {
    margin-bottom: 230px;
  }
  .advantages__img::after {
    width: 15px;
    right: -15px;
  }
  .advantages__img::before {
    height: 15px;
    top: -15px;
    right: -15px;
  }
  .advantages__img--glasses::before {
    top: -15px;
    left: -15px;
  }
  .advantages__img--glasses::after {
    top: 0;
    left: -15px;
  }
  .advantages__description {
    font-size: 15px;
  }
  .advantages__number {
    font-size: 40px;
  }
  .advantages__img {
    margin-right: 120px;
  }
  .advantages__img--bot {
    max-width: 50%;
  }
  /* diagnostics */
  .diagnostics__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .diagnostics__description {
    margin-bottom: 40px;
    font-size: 15px;
  }
  .diagnostics__button {
    font-size: 15px;
    padding: 15px;
  }
  .diagnostics__description--glasses-top,
  .diagnostics__description--glasses,
  .diagnostics__description--down {
    font-size: 15px;
  }
  .diagnostics__description--glasses {
    margin-bottom: 20px;
  }
  .diagnostics__description--glasses-box {
    margin-bottom: 30px;
  }
  .diagnostics__description--glasses-top {
    margin-bottom: 35px;
  }
  /* advantages */
  .advantages__container {
    margin-bottom: 150px;
  }
  .advantages__img--glasses {
    margin-right: 0;
  }
  .advantages__img--glasses {
    margin-left: 100px;
  }
  .lenses {
    margin-bottom: 150px;
  }
}
@media (max-width: 992px) {
  /* advantages */
  .advantages {
    margin-bottom: 180px;
  }
  .advantages__row {
    width: 60%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__description {
    font-size: 15px;
  }
  .advantages__number {
    font-size: 50px;
  }
  .advantages__img {
    width: 380px;
    margin-right: 30px;
  }
  .advantages__card:not(.advantages__card--last)::after {
    display: none;
  }
  .advantages__img::after {
    width: 10px;
    right: -10px;
  }
  .advantages__img::before {
    height: 10px;
    top: -10px;
    right: -10px;
  }
  .advantages__img--glasses::before {
    top: -10px;
    left: -10px;
  }
  .advantages__img--glasses::after {
    top: 0;
    left: -10px;
  }
  .advantages__img--glasses {
    margin-right: 0;
  }
  /* diagnostics */
  .diagnostics__button:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #E7383E;
    background-color: transparent;
  }
  .diagnostics__button {
    font-size: 11px;
    padding: 5px 15px;
  }
  .diagnostics__title {
    line-height: 29px;
  }
  .diagnostics__description {
    margin-bottom: 20px;
    font-size: 10px;
    max-width: 300px;
    line-height: 18px;
  }
}
@media (max-width: 767px) {
  /* advantages */
  .advantages {
    margin-bottom: 110px;
  }
  .advantages__img {
    margin: auto;
  }
  .advantages__card:not(.advantages__card--last) {
    padding-right: 0;
    margin-right: 20px;
  }
  .advantages__row {
    width: 70%;
    margin: auto;
  }
  .advantages__container {
    margin-bottom: 70px;
  }
  .advantages__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .advantages__container {
    margin-bottom: 180px;
  }
  .advantages__box--box {
    position: relative;
  }
  .advantages__img--bot {
    display: none;
  }
  .advantages__img--bott {
    display: block;
    position: absolute;
    right: -3%;
    top: -19%;
    z-index: -1;
    height: 130%;
  }
  .advantages__img--bott-img {
    height: 100%;
  }
  .advantages__box--box {
    width: 100%;
    margin-bottom: 50px;
  }
  .advantages__main--glasses > .diagnostics {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .advantages__img--glasses > .advantages__img--bott {
    right: auto;
    left: -2.3%;
  }
  .diagnostics__title--glasses {
    text-align: end;
    left: auto;
    right: 25%;
  }
  /* diagnostics */
  .diagnostics {
    margin: auto;
  }
  .diagnostics__description {
    font-size: 16px;
    max-width: 500px;
  }
  .diagnostics__title {
    line-height: 44px;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    max-width: 335px;
    position: absolute;
    left: 25%;
    top: -110px;
  }
  .diagnostics__button {
    font-size: 16px;
    padding: 20px 15px;
    margin: auto;
    display: block;
  }
  .advantages__box--box-lenses {
    padding-top: 65px;
  }
  .lenses {
    margin-bottom: 100px;
  }
}
@media (max-width: 576px) {
  /* other */
  .section__title {
    font-size: 32px;
    line-height: 44px;
  }
  /* advantages */
  .advantages__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__number {
    font-size: 72px;
  }
  .advantages__description {
    line-height: 22px;
    font-size: 24px;
    max-width: 310px;
    margin-bottom: 30px;
  }
  .advantages__row {
    width: auto;
  }
  .advantages__img {
    width: 135%;
    -webkit-transform: translateX(-32%);
            transform: translateX(-32%);
  }
  .advantages__main {
    padding-right: 0;
  }
  .advantages__img--bott {
    display: block;
    position: absolute;
    right: -1.5%;
    top: -18%;
    z-index: -1;
  }
  .advantages__img--glasses > .advantages__img--bott {
    left: -1.5%;
  }
  .advantages__img--glasses {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  .advantages__box--box-glasses {
    margin-bottom: 100px;
  }
  /* diagnostics */
  .diagnostics {
    padding: 0 12px 0 15px;
  }
  .diagnostics__title {
    left: 5%;
  }
  .diagnostics__description {
    max-width: 100%;
  }
  .diagnostics__button {
    width: 100%;
  }
  .diagnostics--glasses {
    padding-left: 0;
  }
  .diagnostics__description--down {
    margin-left: 0;
  }
  .diagnostics__title--glasses {
    left: auto;
    right: 1%;
  }
  .diagnostics__description--down {
    font-size: 15px;
  }
  .diagnostics--lenses {
    padding: 0 12px 0 12px;
  }
}
@media (max-width: 400px) {
  .advantages__box--box-glasses {
    margin-bottom: 50px;
  }
}
.footer-text {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  margin: 0 auto;
  color: #AFAFAF;
  width: 760px;
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .footer-text {
    width: 550px;
  }
}
@media (max-width: 576px) {
  .footer-text {
    font-size: 24px;
    line-height: 29px;
    width: 450px;
  }
}
@media (max-width: 450px) {
  .footer-text {
    width: 300px;
  }
}
.line-footer {
  width: 100%;
  height: 2px;
  background: #0073BB;
  margin-bottom: 40px;
}
.footer-bottom--information {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 576px) {
  .footer-bottom--information {
    font-size: 12px;
    line-height: 15px;
  }
}
/*# sourceMappingURL=main.css.map */