* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  line-height: normal;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  background-color: #fff;
}
a,
a:hover {
  color: #000000 !important;
  text-decoration: none;
  outline: none;
  border: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
input,
button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  margin: 0px;
}
input:hover,
button:hover {
  margin: 0px;
  border: 0;
  outline: none;
}
input:focus,
button:focus {
  margin: 0px;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
  outline: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1700px;
  padding: 0px;
}
@media (max-width: 1350px) {
  .container {
    max-width: 1200px;
    padding: 0 5px 0 5px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 768px;
    padding: 0 8px 0 8px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }
}
.navbar {
  border-bottom: 1px solid #E4E4E4;
}
@media (max-width: 767px) {
  .navbar {
    border-bottom: NONE;
  }
}
.logo-img {
  -webkit-transform: translateX(-25%);
     -moz-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
       -o-transform: translateX(-25%);
          transform: translateX(-25%);
}
@media (max-width: 992px) {
  .logo-img {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .logo-img {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@media (max-width: 425px) {
  .logo-img {
    width: 135px;
  }
}
.nav-top {
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E4E4E4;
}
@media (max-width: 767px) {
  .nav-top {
    width: auto;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.nav-mobile__item a img {
  margin-right: 50px;
}
@media (max-width: 425px) {
  .nav-mobile__item a img {
    margin-right: 0px;
  }
}
@media (max-width: 992px) {
  .nav-top--block {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .nav-top--block {
    text-align: center;
  }
}
.nav-top__call {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #969693;
}
.nav-top__btn {
  background: #E7383E;
  padding: 20px 25px !important;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.nav-link {
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 22px !important;
}
.navbar-toggler-icon {
  background: none !important;
}
.acuvue {
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  color: #0073BB;
  padding: 40px 65px;
  width: 670px;
}
.acuvue span {
  font-weight: bold;
}
.stock__number {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #E7383E;
  width: 280px;
  margin-bottom: 40px;
}
.stock-free {
  width: 280px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 60px;
}
.stock-free::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */