.find-us{
    @media (max-width: 1430px) {
    
    overflow: hidden;

    }
    @media (max-width: 767px) {
        overflow: inherit;
        }
}

.find-us .slick-slide{
    padding: 0 45px;
    @media (max-width: 768px) {
        padding: 0 15px;
    }
}

.find-us .slick-dots{
    padding-top: 50px;
}

.find-us .slider-right--item{
    display: flex!important;
    flex-direction: column;
    align-items: flex-start;
}

.find-us .container {
    max-width: 100%;
    margin-bottom: 220px;
    position: relative;

    @media (max-width: 1600px) {
        margin-bottom: 180px;
    }
    @media (max-width: 1200px) {
        margin-bottom: 150px;
    }

    @media (max-width: 767px) {
        margin-bottom: 70px;
    }
}

.find-us .slider-center {
    padding: 0 107px 80px;
    display: flex;
    left: 345px;
    position: absolute;
    top: 0;
    z-index: 134;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 1740px) {
        left: 344px;
    padding: 0 75px 80px;
    }
    @media (max-width: 1630px) {
        padding: 0 67px 36px;
        left: 344px;
    }
    @media (max-width: 1480px) {
        padding: 0 30px 0px;
        left: 343px;
    }
    @media (max-width: 1440px) {
        padding: 0 100px 73px;
    left: 144px;
    }
    @media (max-width: 1280px) {
        padding: 0 65px 22px;
    left: 143px;
    }
    @media (max-width: 1130px) {
        padding: 0 24px 0px;
    left: 144px;
    }
    @media (max-width: 1020px) {
        padding: 0 0px 0px;
        left: 145px;
    }
    @media (max-width: 767px) {
        padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    position: initial;
    }
}



.title-find-us{
    margin-bottom: 46px;
    font-size: 72px;
    line-height: 88px;
    text-align: right;
    width: 340px;

    @media (max-width: 1430px) {
        margin-bottom: 23px;
    font-size: 60px;
    line-height: 76px;
    width: 285px;
    }
    @media (max-width: 1250px) {
        margin-bottom: 23px;
    font-size: 45px;
    line-height: 50px;
    width: 210px;
    }
    @media (max-width: 1020px) {
        margin-bottom: 10px;
    
    }
    @media (max-width: 767px) {
       text-align: start;
       margin-bottom: 25px;
    }
}

.subtitle-find-us{
    margin-bottom: 60px;
    width: 340px;
    font-size: 36px;
    line-height: 44px;
    text-align: right;

    // @media (max-width: 1630px) {
    //     margin-bottom: 30px;
    //     width: 280px;
    //     font-size: 30px;
    //     line-height: 40px;
    // }
    @media (max-width: 1430px) {
        margin-bottom: 40px;
    width: 330px;
    }
    @media (max-width: 1020px) {
    width: 323px;
    margin-bottom: 10px;
    }
    @media (max-width: 940px) {
        width: 285px;
        }
        @media (max-width: 870px) {
           width: 244px;
         }
    @media (max-width: 767px) {
        margin-bottom: 20px;
        text-align: start;
        width: 340px;
     }
     @media (max-width: 425px) {
        margin-bottom: 20px;
        text-align: start;
        width: 280px;
     }
}

.text-bottom-find-us{
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    @media (max-width: 1020px) {
        margin-bottom: 20px;
    }
    @media (max-width: 767px) {
        text-align: start;
        margin-bottom: 40px;
     }
}

.find-us .main-arrows{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 767px) {
        display: none;
     }
}

.arrow-next,.arrow-prev{
    cursor: pointer;
}

.slide-count-main{
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    width: 30px;
    margin: 0 80px;
    display: flex;
    @media (max-width: 940px) {
        margin: 0 50px;
     }
}

.slider-right--item img{
    animation: none !important;
    
}

.slide-bottom{
    width: 100%;
    margin-top: 40px;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
        display: block;
      }
}

.slick-btn__click{
    display: none;
    padding: 20px 0;
    width: 100%;
    background: #E7383E;
    color: #fff;
    @media (max-width: 767px) {
       display: block;
     }
}

.town{
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    @media (max-width: 1630px){
        font-size: 24px;
    line-height: 29px;
        }
}

.street{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
@media (max-width: 1630px){
    font-size: 18px;
    line-height: 22px;
    }
@media (max-width: 767px){
    margin-bottom: 30px;
    }
}
